<h2>Edit Your List</h2>

<%= render 'form', toggle_list: @toggle_list %>
<%= link_to 'Delete', @toggle_list, method: :delete, data: { confirm: 'Are you sure?' } %>
<br><br>
<%= link_to 'Back to List', @toggle_list %> |
<%= link_to 'Back to Toggle Home', toggle_lists_path %>
