<div>
  <p id="notice" ><%= notice %></p>

  <table class="center">
    <thead>
      <tr>
        <h2>Welcome to Toggl</h2>
        <th>You've waited your entire life for this moment.</th>
      </tr>
    </thead>

    <tbody>
      <% @toggle_lists.each do |toggle_list| %>
        <tr>
          <td><button type="button" class="btn btn-outline-primary displayed"><p><h4><%= link_to toggle_list, toggle_list %></h4></p></button></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

