/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.btn-amethyst {background-color: #9E34D3;} /* Purple */
.btn-amber {background-color: #F0A202;} /* Orange */
.btn-emerald {background-color: #30A57A;} /* Green */
.btn-citrine {background-color: #E3B505;} /* Yellow */ 
.btn-ruby {background-color: #E01D1D;} /* Red */
.btn-sapphire {background-color: #006AA8;} /* Blue */
