/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.btn-diamond {background-image: url("diamond.png"); background-position: center; border-radius: 75px 75px; margin: 7px 2px;}  /* White */
.btn-pearl {background-image: url("pearl.png"); border-radius: 75px 75px; margin: 7px 2px;} /* Pearl_Texture */
.btn-onyx {background-image: url("onyx.png"); border-radius: 75px 75px; margin: 7px 2px;}  /* Black */

.btn-kunzite {background-color: #DB94A9; border-radius: 5px 75px; margin: 7px 2px;} /* Pink */
.btn-ruby {background-color: #E01D1D; border-radius: 5px 75px; margin: 7px 2px;} /* Red */
.btn-garnet {background-color: #94211C; border-radius: 5px 75px; margin: 7px 2px;} /* Dark_Red */
.btn-carnelian {background-color: #BF5E40; border-radius: 5px 75px; margin: 7px 2px;} /* Red_Orange */ 
.btn-amber {background-color: #F0A202; border-radius: 5px 75px; margin: 7px 2px;} /* Orange */
.btn-citrine {background-color: #E3B505; border-radius: 5px 75px; margin: 7px 2px;} /* Yellow */ 
.btn-peridot {background-color: #93BF40; border-radius: 5px 75px; margin: 7px 2px;} /* Light_Green */
.btn-emerald {background-color: #30A57A; border-radius: 5px 75px; margin: 7px 2px;} /* Dark_Green */
.btn-aquamarine {background-color: #9FD9DF; border-radius: 5px 75px; margin: 7px 2px;} /* Light_Blue */
.btn-sapphire {background-color: #006AA8; border-radius: 5px 75px; margin: 7px 2px;} /* Dark_Blue */
.btn-amethyst {background-color: #9E34D3; border-radius: 5px 75px; margin: 7px 2px;} /* Purple */

.btn:hover {
  filter: brightness(120%);
}

.btn.displayed {
  display:block;
  margin-left: auto;
  margin-right: auto
}

.center {
  margin: auto;
  width: 80%;
  text-align: center;
}

h2 {
text-align: center;
}